# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
build/
*.user
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# AtH stuff
*.swp
debug/
saves/
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-23cc6eba00a0cd902aea.json
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2025-02-19T20-10-55-0539.json
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-LifeForm_Simulation-Debug-5da300ca419eabaca26a.json
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.ninja_deps
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.ninja_log
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/CMakeFiles/LifeForm_Simulation_autogen.dir/AutogenInfo.json
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/CMakeFiles/LifeForm_Simulation_autogen.dir/AutogenUsed.txt
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/CMakeFiles/LifeForm_Simulation_autogen.dir/ParseCache.txt
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/LifeForm_Simulation.exe
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/LifeForm_Simulation_autogen/deps
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/LifeForm_Simulation_autogen/mocs_compilation.cpp
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/Testing/Temporary/LastTest.log
CMakeLists.txt.user
